body{ 
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color:black;
    
  }
  @font-face {
    font-family: myFirstFont;
    src: url("../star_jedi/starjout/Starjout.ttf");
  }
#navbar{
    background-color: white;
    border-color: white;
    font-size: large;
    margin: 0px;
    color: black;
}
img{
  height: 50px;
  width:  100px;
  margin: 0px;
}



  #my_sign_in, #my_sign_up, #my_home, #my_about_us{
      color: black;
  }
  #my_sign_in:hover, #my_sign_up:hover, #my_home:hover, #my_about_us:hover
  {
    color: white;
  }

.menu_btn:hover, #selected {
    outline-color: #ffb780;
    background-color:  #ffb780 ;
    color:black;  
  }

  b{
    font-family: myFirstFont;
    text-shadow: 1.2px 1.2px #ffb780;
    margin-bottom:30px; 
    font-weight:800; 
    font-size:xx-large;
    color: white;}

#welcome_container{
  background-image: linear-gradient(#F2E8C4, #a18b80, #b0b0b0);
    border-color:white;
    border-radius: 10px;
    position: center absolute;
    margin-top:150px;
    height: 350px;
    width: 600px;
    overflow: hidden;
}
#sign_up_desc{
    cursor: pointer;
    color: #ffb780;
    text-decoration: none;
}
#welcome_msg{
    color:white;
    font-size: xx-large;
    opacity: 1;
}

#welcome_desc{
    color: white;
    font-size: large;
    text-align: justify;
    
}

#btn_div{
    text-align: center; }
    
#btn_ref{
    color:black;
    font-size: large;
    text-decoration: none;
}

#visitor_btn{
    border-radius: 10px;
    background-color:#ffb780;
    width: 180px;
    border: none;
    color:White;
    text-align: center;
    font-weight:600;
    font-size: 20px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    outline-color:#ffb780;
  }
  
  #visitor_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    outline-color:#ffb780;
  }
  
  #visitor_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    outline-color:#ffb780;
    color: white;
  }
  
  #visitor_btn:hover span {
    padding-right: 25px;
    outline-color:#ffb780;
    color: white;
   
  }
  
  #visitor_btn:hover span:after {
    opacity: 1;
    right: 0;
    outline-color:#ffb780;
    color: white;
  }


 

/*sfondo*/

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 600px}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}



body{position:relative}
#e_background{
  background:#000 url("../Images/sky.jpg") repeat 5% 5%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:-100;
  -webkit-animation:stars-anim 600s infinite linear;
  -moz-animation:stars-anim 600s infinite linear;
  -o-animation:stars-anim 600s infinite linear;
  animation:stars-anim 600s infinite linear}

      
   

        @-webkit-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-moz-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-o-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-webkit-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @-moz-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @-o-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}