body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    color: black;
  }
  @font-face {
    font-family: myFirstFont;
    src: url("../star_jedi/starjout/Starjout.ttf");
  }
  #navbar {
    background-color: white;
    border-color: white;
    font-size: large;
    margin: 0px;
    color: black;
  }
  img {
    height: 50px;
    width: 100px;
    margin: 0px;
  }
  .menu_btn:hover,
  #selected {
    outline-color: #ffb780;
    background-color: #ffb780;
    color: black;
  }
  #my_button {
    background-color: white;
    margin-top: 5px;
    color: #9a9a9a;
    border: none;
    font-size: large;
    font-family: "Poppins";
  }
  #my_button:hover
 {
    outline-color: #ffb780;
    background-color: #ffb780;
    color: black;
  }
  #my_a_p, #my_a_s, #my_a_l {
    font-family: "Poppins";
    font-size: large;
    text-decoration: none;
    color:#9a9a9a;
  }
  #my_a_p:hover,  #my_a_s:hover, #my_a_l:hover {
      background-color: #ffb780;
      color: white;
  
  }
 
  .btn-login {
    border-radius: 10px;
    background-color: #ffb780;
    width: 230px;
    height: 100px;;
    border: none;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 30px;
    outline-color:#ffb780;
   
    margin-bottom:auto;
    padding-right: 25px;
  }
  #user_button{
    margin-bottom: 20px;
    margin-top: 10px;
    
}
  
  .btn-login span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  
  }
  
  .btn-login span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    outline-color:#ffb780;
    color: white;
  }
  
  .btn-login:hover span {
    padding-right: 25px;
    outline-color: #ffb780;
    color: white;
  }
  
  .btn-login:hover span:after {
    opacity: 1;
    right: 0;
    outline-color: #ffb780;
    color: white;
  }
  
  .btn-login:disabled {
    border: 2px solid  #ffb780;
    opacity: 30%;
    cursor: not-allowed;
    background-color: #ffb780;
  
    color: white
  }
  
  .btn-login:disabled span {
    cursor: not-allowed;
  }
  .btn-login:disabled span:after {
    content: "";
  }
  
  .btn-login:hover:disabled span {
    padding-right: 0px;
  }

  button.selected{
      color:black;
  }
  #my_center{
    background-color:white;
    height: auto;
    width: 1350px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    
    }
    .well{
        background-color:white;
       
        border: none;
        margin-top : 50px;
        height: auto;
        margin-left: 10px;
        width: 1300px;
        padding: 40px;
       
      
      }
     .avatar{
        vertical-align: middle;
        width: 150px;
        height: 150px;
        border-radius: 50%;
       
     }

     .my_list{
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: auto auto auto;
      }
      container{
          width: 200px;
      }
      
      .elem1{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
      
      }
      
      .elem2{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      .elem3{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      .elem4{
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      .position{
          font-weight: 600;
          color: #ffb780;
          font-size: 100px;
          vertical-align: middle;
      }
      .username, .points, .name{
        font-weight: 600;
       
        font-size: 40px;
       
      }
  /*sfondo*/
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {
    height: 600px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {
      height: auto;
    }
  }
  
  body {
    position: relative;
  }
  #e_background {
    background: #000 url("../Images/sky.jpg") repeat 5% 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
    -webkit-animation: stars-anim 600s infinite linear;
    -moz-animation: stars-anim 600s infinite linear;
    -o-animation: stars-anim 600s infinite linear;
    animation: stars-anim 600s infinite linear;
  }
  
  @-webkit-keyframes stars-anim {
    from {
      background-position: 5% 600%;
    }
    to {
      background-position: 1300% 5%;
    }
  }
  @-moz-keyframes stars-anim {
    from {
      background-position: 5% 600%;
    }
    to {
      background-position: 1300% 5%;
    }
  }
  @-o-keyframes stars-anim {
    from {
      background-position: 5% 600%;
    }
    to {
      background-position: 1300% 5%;
    }
  }
  @keyframes stars-anim {
    from {
      background-position: 5% 600%;
    }
    to {
      background-position: 1300% 5%;
    }
  }
  @-webkit-keyframes light {
    0% {
      opacity: 0.1;
    }
    25% {
      opacity: 0.35;
    }
    50% {
      opacity: 0.95;
    }
    100% {
      opacity: 0.2;
    }
  }
  @-moz-keyframes light {
    0% {
      opacity: 0.1;
    }
    25% {
      opacity: 0.35;
    }
    50% {
      opacity: 0.95;
    }
    100% {
      opacity: 0.2;
    }
  }
  @-o-keyframes light {
    0% {
      opacity: 0.1;
    }
    25% {
      opacity: 0.35;
    }
    50% {
      opacity: 0.95;
    }
    100% {
      opacity: 0.2;
    }
  }
  @keyframes light {
    0% {
      opacity: 0.1;
    }
    25% {
      opacity: 0.35;
    }
    50% {
      opacity: 0.95;
    }
    100% {
      opacity: 0.2;
    }
  }
  